services:
  api:
    build:
    image: jlychee/vibik-api
    container_name: vibik-api
    ports:
      - "5000:80"
    env_file:
      - .env
  db:
    image: postgres:18
    container_name: vibik-db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db_postgres:/var/lib/postgresql
      - ./db_init:/docker-entrypoint-initdb.d
      
volumes:
  db_postgres: